<nav>
    <h1>Formenscop</h1>
    <ul>
        <li><a href="/">home</a></li>
        <% if(typeof loggedIn == 'undefined' || !loggedIn){ %>
        <li><a href="/register">register</a></li>
        <li><a href="/login">login</a></li>
        <% }else{ %>
        <li><a href="/user">Profil</a></li>
        <li><a href="/logout">Logout</a></li>
        <% } %>
    </ul>
</nav>