<html lang="en">
    <%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/nav.ejs'); %>

    <main>
        <h1>Mon panier : </h1>        
    </main>

    <%- include('./partials/footer.ejs'); %>
</body>
</html>