body{
    margin: 0;
    padding: 0;
    background-color: #4F4F4F;
    color: #B6B6B6;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-inline: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
    box-shadow: 0px 3px 5px black;
}
nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
nav a{
    color: #B6B6B6;
}
footer{
    width: fit-content;
    margin-inline: auto;
}

form{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    max-width: 20%;
    margin-inline: auto;
}
input{
    margin-bottom: 1rem;
}

p.error{
    width: fit-content;
    margin-inline: auto;
    color: red;
}